<!DOCTYPE html>
<html>
<head>
  <title><%= title_bar yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "screen" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags  %> <!-- which prevents cross-site request 				forgery (CSRF), a type of malicious web attack -->
  <%= render 'layouts/shared/shim' %>
</head>
 
<body>

<%= render 'layouts/shared/header' %>



<div class ="container">
<%= yield %>
<%= render 'layouts/shared/footer' %>
<!-- <%= debug(params) if Rails.env.develoment? %> -->
</div>


</body>
</html>
